body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0 !important;
  list-style: none;
}
.shadow {
  box-shadow: 1px 2px 8px 0px #00000012;
}
.heading {
  text-transform:capitalize;
  margin-bottom: 30px;
}
.logo {
  width: 40px;
  background: #0a63f9;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  display: inline-block;
}
.logo:hover {
  color: #fff;
}
.side-link a {
  font-size: 20px;
  color: #627d98;
  padding: 5px;
}

.side-link a:hover {
  background-color: rgb(49 49 159 / 14%);
  border-radius: 40%;
}

.side-open {
  display: block;
  position: fixed;
  z-index: 9999;
}

.side-close {
  position: absolute;
  right: 17px;
  border: none;
  background: transparent;
  font-size: 30px;
  color:red
}

/* filter */
.filter .filter-input {
  width: 100%;
  margin-top: 10px;
  padding: 4px;
  line-height: 1px;
}

/* pagination */
.btn-container {
  background-color: #dbeafe;
  border-radius:5px;
  margin:30px 0 
}
.btn-container button {
  font-weight: 700;
  font-size: 20px;
  color:#3b82f6;
  width:50px;
  height: 40px;
  padding:0;
  border:none;
  background-color: transparent;
  border-radius:5px
}
.btn-container button.active{
  background:#3b82f6;
  color:#fff
}
.btn-controller {
  background-color: #fff;
  color:#3b82f6;
  border:none;
  width:70px;
  height: 40px;
  margin-inline: 20px;
  border-radius:5px
}